In [1]:
#Import all the necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### I - Virat Kohli Dataset

In [2]:
df = pd.read_csv("virat.csv")

#### Spread in Runs
Question 1: Analyse the spread of Runs scored by Virat in all his matches and report the difference between the scores at the 50th percentile and the 25th percentile respectively.

    a)16.5
    b)22.5
    c)26.5
    d)32.5

In [3]:
#Your code here

#### False Statement

Q2:Consider the following statements and choose the correct option

     I - Virat has played the maximum number of matches in 2011
     II - Virat has the highest run average in the year 2017
     III - Virat has the maximum score in a single match and the highest run average in the year 2016.

Which of the above statements is/are false?

    a)I and II
    b)I and III
    c)II
    d)III

In [4]:
#Your code here

#### Highest Frequency
Q3:Next, Next, from the following options choose the range in which he has scored more frequently or highest number of times.

    a)[72,83)
    b)[83,91)
    c)[92,102)
    d)He has scored an equal number of times in all the above run brackets.

In [5]:
#Your code here

#### Maximum Frequency

Q4:Plot a histogram for the Mins column with 15 bins and report the range having the maximum frequency amongst the given options

    a)[54.6,68)
    b)[68,81.4)
    c)[121.6,135)
    d)All the bin ranges have the same frequency

In [6]:
#Your code here

#### Correct Statements
Q5:Using the modified dataset from the previous question(i.e. It doesn’t contain the rows having an incorrect Mins value), plot box plots of the runs scored by Virat in matches against Sri Lanka, Australia and England. Now consider the following statements:

      1 - Virat has scored pretty similarly against both Australia and England.
      2 - The highest score by Virat is against Sri Lanka.
      3 - Amongst the three countries, the highest value at the upper fence occurs for Sri Lanka.
      4 -Australia’s IQR is the widest.

  Which of the above statements are correct?
  
       a) 1, 2 and 4
       b) 1, 2 and 3
       c) 2 and 4
       d) 1 and 2

In [7]:
#Your code here

#### True Statements
Q6) From the same modified dataset as the previous question, create both box plot and histogram(take the number of bins as 3) as sub-plots for all the run scores in which the mode of dismissal was ‘lbw’. Now consider the following statements:

    I - The box-plot shows one outlier lying outside the fence at the score of 75
    II - The maximum frequency of scores lie between [20-41)
    III- The median score lies between 30-40

Which of the above statements is/are true?


    a)I
    b)I and II
    c)II
    d)II and III

In [8]:
#Your code here

### II -  Discounts dataset

In [9]:
df2 = pd.read_csv("spd.csv")

#### Null Values
Q1. Find the number of null values in each of the columns and delete all the entries having null values.
    
    a) Sales - 17; Profits - 19; Discounts - 22
    b) Sales - 17; Profits - 22; Discounts - 19
    c) Sales - 19; Profits - 22; Discounts - 17
    d) Sales - 22; Profits - 19; Discounts - 17

In [10]:
#Your code here

#### Incorrect Statements
Q2. After you’ve removed the null values, clean the Sales column by replacing the bogus entries with the correct ones. After that, create a box-plot of all the products with Sales greater than 3000, and then consider the following statements:

    I- The median value comes out to be between 2500-5000.
    II- There are no outliers, i.e., values outside either fence for this box plot.
    III- There are 3 entries having a Sales value greater than 15000.

Which of the above statements is/are incorrect?

    a)I
    b)II and III
    c)III
    d)I and II

In [11]:
#Your code here

#### Box Plot
Q3. Now that you’ve cleaned the bogus entries from the Sales column, go ahead and clean the Profits column as well. Note that there is no particular sequence to the characters here; however, the number of bogus characters in all the erroneous entries are the same. After that, create a boxplot of all the values that have Profits greater than 2000 and report back the approximate median value.
    
    a)3500
    b)4500
    c)2800
    d)5500

In [12]:
#Your code here

#### Clean Data

Q4. Once you have cleaned this column, report back the total number of times either a discount of 0.5, 0.1 or 0.6 was given.

    a)134
    b)182
    c)284
    d)296

In [13]:
#Your code here