In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_excel("Data_Science.xlsx")

In [3]:
df.head()

,UserId,campaign,realcity,membership,gender,createdAt,Cost Of User Aciquistion,User Life Time Value (LTV)
0,u6Whdqhc9pbfpM2,FB-Device Targetting,Bengaluru,BRONZE,MALE,2018-11-25 17:38:33,100,0
1,PxpmIXN1OIWh4Ne,Organic,Delhi,BRONZE,MALE,2018-12-25 19:19:11,90,80
2,kpGUDDDhKBkwePp,Organic,Mumbai,NaN,MALE,2019-01-15 11:24:56,50,1900
3,BVmM3wUNvspBSrc,Organic,Pune,BRONZE,MALE,2018-04-30 17:17:18,10,1400
4,J9jtLsR52ylRDZ9,Organic,Pune,GOLD,MALE,2018-09-23 10:50:13,80,290

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
UserId                        100 non-null object
campaign                      96 non-null object
realcity                      87 non-null object
membership                    58 non-null object
gender                        100 non-null object
createdAt                     100 non-null datetime64[ns]
Cost Of User Aciquistion      100 non-null int64
User Life Time Value (LTV)    100 non-null int64
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 6.3+ KB

In [5]:
df.realcity.value_counts()

Kolkata      24
Hyderabad    18
Mumbai       13
Pune         13
Bengaluru     7
Chennai       6
Delhi         5
chennai       1
Name: realcity, dtype: int64

In [7]:
df[['realcity', 'User Life Time Value (LTV)']].corr()

                            User Life Time Value (LTV)
User Life Time Value (LTV)                         1.0

In [9]:
df.realcity.replace(to_replace=np.nan, value="Null", inplace = True)

In [10]:
df.realcity.value_counts()

Kolkata      24
Hyderabad    18
Mumbai       13
Pune         13
Null         13
Bengaluru     7
Chennai       6
Delhi         5
chennai       1
Name: realcity, dtype: int64

In [11]:
df.realcity.replace(to_replace="chennai", value="Chennai", inplace = True)

In [12]:
df1 = df[df.realcity == "Null"]
df1.head()

,UserId,campaign,realcity,membership,gender,createdAt,Cost Of User Aciquistion,User Life Time Value (LTV)
6,B5Ah0a6gbSdW0sN,referral,Null,NaN,FEMALE,2019-01-02 12:41:00,90,12090
7,B5ADHXCBrham4Yh,FB-airolimindspace-borivali,Null,NaN,FEMALE,2018-12-25 16:45:25,50,0
14,B5AptFA1YmrQ4Rw,referral,Null,NaN,FEMALE,2019-02-11 10:06:11,80,290
17,B5A7usayVnZx87F,NaN,Null,GOLD,FEMALE,2015-11-25 03:24:36,50,0
26,B5AVSCakEhhBwyf,FB_050119_Pune,Null,NaN,FEMALE,2019-02-05 12:27:02,90,1900

In [13]:
df1.campaign.value_counts()

referral                       3
Organic                        3
CPR_ A1                        1
CPR-B1                         1
FB-airolimindspace-borivali    1
FB_050119_Pune                 1
FB-Device Targetting           1
Name: campaign, dtype: int64

In [14]:
df1.membership.value_counts()

BRONZE    2
GOLD      2
Name: membership, dtype: int64